.side-bar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 179px;
    height: 36px;
}

.side-bar-image {
    width: 32px;
    height: 32px;
}

.side-bar-title {
    width: 135px;
    height: 36px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: var(--purple-500-main);
    flex: none;
    order: 1;
    flex-grow: 0;
}
